{% extends "yourbank/base.html" %}
{% block content %}
{% block extra_css %}
<style>
.atm-field{
    margin-bottom:5px;
}

</style>
{% endblock %}
<div class="atm-wrapper">
<div class="atm-card">
<a href="{% url 'yourbank:atm_home' %}" class="atm-close">✕</a>

<div class="atm-title">🔐 Enter OTP</div>
<div id="atm-message-area">
    {% if messages %}
        {% for message in messages %}
            <div class="atm-msg {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<form method="post">
{% csrf_token %}
<div class="atm-field">{{ form.otp }}</div>
<button class="atm-btn">Verify OTP</button>
</form>

<a class="atm-link" href="{% url 'yourbank:atm_resend_otp' %}">Resend OTP</a>

</div>
</div>

{% endblock %}
