{% extends 'yourbank/index.html' %}
{% load static %}
{% block title %}Money Transaction{% endblock %}
{% block content %}
{% block extra_css %}

<style>
.container{ margin-top:4%; }

/* ===== Card ===== */
.a-card{
  background:#fff;
  border-radius:14px;
  padding:24px;
  box-shadow:0 8px 24px rgba(0,0,0,.08);
}
.a-title{
  text-align:center;
  color:#1f3c88;
  font-weight:600;
  margin-bottom:24px;
}

.edit-actions{
  position:absolute;
  top:8px;
  right:16px;
}
.edit-actions button{
  background:none;
  border:none;
  font-size:22px;
  cursor:pointer;
  color:#1f3c88;
}
.edit-actions button:hover{ color:#e63946; }
.a-card{ position:relative; }

.form-group{ margin-bottom:16px; }
.form-group label{
  display:block;
  font-weight:600;
  margin-bottom:6px;
}
.form-group input,
.form-group select,
.form-group textarea{
  width:100%;
  padding:10px 12px;
  border-radius:8px;
  border:1px solid #ced4da;
}

#receiverBox{ display:none; }

@media(max-width:576px){
  .a-card{ padding:18px;
    margin-top:5%;
  }
.a-title{
    margin-top:5%;
    font-size:100%;

 }
}
</style>

{% endblock %}

<div class="container py-4">
<div class="row justify-content-center">
<div class="col-lg-8 col-md-8 col-sm-10 mt-4">

<div class="a-card">

<div class="edit-actions">
<button type="button" id="closeBtn"><i class="bi bi-x-lg"></i></button>
</div>

<h4 class="a-title">Account No: {{ customer.account_no }}</h4>

<form method="post" id="txnForm">
{% csrf_token %}

<div class="row">
 <div class="col-12 form-group">
  <label>Transaction Type</label>
  {{ form.transaction_type }}
</div>

  <div class="col-12  form-group">
    <label>Amount</label>
    {{ form.amount }}
  </div>

  <div class="col-12 form-group" id="receiverBox">
  <label>Receiver Account</label>
  {{ form.receiver_account }}
</div>

  <div class="col-12  form-group">
    <label>Note</label>
    {{ form.note }}
  </div>
</div>


<div class="text-center mt-4">
<button type="submit" class="btn btn-warning px-5">Create</button>
</div>

</form>

</div>
</div>
</div>
</div>

<script>
const typeField = document.getElementById("id_transaction_type");
const receiverBox = document.getElementById("receiverBox");

function toggleReceiver(){
    if(typeField.value === "TRANSFER"){   // use uppercase!
        receiverBox.style.display = "block";
        document.getElementById("id_receiver_account").required = true;
    }else{
        receiverBox.style.display = "none";
        document.getElementById("id_receiver_account").required = false;
        document.getElementById("id_receiver_account").value = "";
    }
}


toggleReceiver();  // run on page load
typeField.addEventListener("change", toggleReceiver);

document.getElementById("closeBtn").onclick = ()=>{
  window.location.href = "{% url 'yourbank:customer_detail' customer.pk %}";
};
</script>

{% endblock %}
